<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Icon name fire error even if exists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Icon name fire error even if exists</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    Icon with name ==>
    <ion-icon name="logo-ionic" />
    <==
  </p>
  <p>
    Icon with src ==>
    <ion-icon src="/svg/logo-ionic.svg" />
    <==
  </p>
</ion-content>